@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Inter, system-ui, Avenir, serif, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

/*
a:hover {
  color: #535bf2;
}
*/

.antialiased {
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}



@layer base {
  :root {
    /* whole page */
    --main: #fe0000;
    --dimmer-main: #7b0d0d;
    --background: #292929;
    --backgroundtwo: #1b1b1b;
    --background-hover: #424242;
    --separator-on-background: #676767;
    --separator-on-backgroundtwo: #545454;
    --foreground: #f4f4f4;

    /* anime card */
    --animecard-background: #282828;
    --animecard-foreground: #fafafa;
    --animecard-dimmer-foreground: #999999;
    --sub-background: #00e719;
    --dub-background: #e75f00;
    --sub-foreground: #1d1d1d;
    --dub-foreground: #1d1d1d;

    /* anime info page */
    --rating: #5ab4ff;
    --quality: #59ffb7;
    --status: #e6c8ac;
    --colored-info-foreground: #202020;
    --discription-foreground: #9f9f9f;

    /* watch page */
    --episode-container-background: #222222;
    --episode-background: #414141;
    --episode-foreground: #f3f3f3;
    --watched-episode-background: #2d2d2d;
    --watched-episode-foreground: #a0a0a0;
    --filler-episode-background: #2b5955;
    --intro-outro-highlight-on-player: #60b3ff;

    --card: #16414a;
    --card-foreground: #cdcdcd;
    --popover: #365b63;
    --popover-foreground: #5fe3ff;
    --primary: #ff0c0c;
    --primary-foreground: #f3f3f3;
    --secondary: #36e4ff;
    --secondary-foreground: #e7e7e7;
    --muted: #22272a;
    --muted-foreground: #ececec;
    --accent: #ff0e0e;
    --accent-foreground: #e2e2e2;
    --destructive: #580002;
    --destructive-foreground: #ebebeb;
    --border: #222222;
    --input: #545454;
    --ring: #ffffff;
    --chart-1: #cdcdcd;
    --chart-2: #cdcdcd;
    --chart-3: #cdcdcd;
    --chart-4: #cdcdcd;
    --chart-5: #cdcdcd;
    --radius: 7px;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .mask-fade {
    mask-image: linear-gradient(180deg,
        transparent,
        black 10%,
        black 90%,
        transparent);
    -webkit-mask-image: linear-gradient(180deg,
        transparent,
        black 10%,
        black 90%,
        transparent);
  }
}

/*
---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.card-item:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: var(--muted);
}

.card-item-nbc:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.5s;
}



/* for scrollbar styling */

/* Firefox */
* {
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: #555 #0b0b10;
  /* thumb | track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #0b0b10;
  /* track color */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #a855f7);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563eb, #9333ea);
}